/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
    font-size: 16px;
    color: white;
    background: black;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/**** HEADER ****/

.main-header {
    width: 100%;
    margin: auto;
}

#logo {
    width: 32%;
    margin: 0 auto;
    text-align: center;
    padding-top: 14%;
}

#logo img {
    width: 100%;
    margin: auto;
    }

#evan-joblin {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2.6em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 9% 0 0 0;
}

#web-design-sub-head {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  text-align: center;
  margin-top: 0;
}

nav {
    width: 100%;
    margin-top: 18%;
    padding-bottom: 15%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    border-bottom: 1px solid #9b9b9b;
    text-align: center;
    padding: 6% 0;
}

    nav ul li a {
        font-size: 1.125em;
        text-transform: uppercase;
        color: #9b9b9b;
    }

    nav ul li a:hover {
        color: yellow;
    }

    nav i {
        padding-right: 10px;
    }

    #about-menu {
        border-top: 1px solid #9b9b9b;
    }

/**** TAG LINE ****/

/*.full-width {
    width: 100%;
    margin: auto;

}

#little-portrait {
    width: 60%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
    background: white;
}

#tagline {
  background: white;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: center;
  margin-top: 10%;
  padding: 6%;
}

.tagline-highlight {
  color: #ffff00;
}

#love {
    display: none;
}
*/

/**** ABOUT ****/

#about {
    width: 100%;
    background: black;
    color: white;
    margin: 0;
}

#about-title{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #9b9b9b;
}

#tagline, #tagline-continued {

  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: center;
  margin: 4%;
  padding: 5% 0;
}

.tagline-highlight {
  color: #ffff00;
}

 #little-portrait {
    width: 60%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
    border: 4px solid white;
    border-radius: 100%;
    background: white;
  }

#my-logo {
  width: 20%;
  height: auto;
  display: block;
  margin: auto;
}

/* #little-portrait {
    width: 50%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
} */

.text-highlight {
  color: #ffff00;
}

.button {
    background-color: black;
    font-family: 'Work Sans', sans-serif;
    border: 2px solid #9b9b9b;
    color: #9b9b9b;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    padding: 3%;
    border-radius: 12px;
    outline-style: none;
}

.space-holder {
  width: 100%;
  height: 50px;
}

/**** SKILLS ****/

.skills {
    width: 100%;
    height: 500px;
    background: black;
    color: white;
    margin: 0;
}

#skills-title{
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: #9b9b9b;
}
}
.skills-icon {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  margin: auto;
}

#skills img {
  width: 30%;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 10%;
}

.skill-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.8em;
  text-align: center;
  margin: 4%;
  padding: 5% 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media (min-width: 768px) {
    /*Tablet styles here!*/

        /**** HEADER ****/

    .main-header {
        width: 94%;
        max-width: 960px;
        margin: auto;
        padding: 0 3%;
    }

    #logo {
        width: 20%;
        float: left;
        padding-top: 5%;
    }

    #evan-joblin {

    }

#web-design-sub-head {

}

    nav {
        width: 60%;
        float: right;
    }

    nav ul {
        margin: 0;
    }

    nav ul li {
        display: inline;
        padding: 0 1%;
        border: none;
        line-height: 2;
        position: relative;
        top: 16px;
    }

    #about {
        border-top: none;
    }

    .about-nav {
        padding: 0 1%;
    }

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
